
  .searchMobile {
    margin-top: 0;
    display: flex;
    justify-content: space-between; /* Align input and button horizontally */
    align-items: center; /* Center items vertically */
  }
  .hero{
    margin: 1rem 0;
}
  .searchDesktop {
    display: none !important;
  }
  .content{
    margin: 1rem;
  }
  @media screen and (min-width: 790px) {
    .searchMobile {
      display: none !important;
    }
    .searchDesktop {
      display: block !important;
      width: 35rem !important;
    }

  
  }
  