
  .search-mobile {
    margin-top: 0;
    display: flex;
    justify-content: space-between; /* Align input and button horizontally */
    align-items: center; /* Center items vertically */
  }
  .hero{
    margin: 1rem 0;
}
  .search-desktop {
    display: none !important;
  }
  @media screen and (min-width: 768px) {
    .search-mobile {
      display: none !important;
    }
    .search-desktop {
      display: block !important;
      width: 35rem !important;
    }
  
  }
  